/* .vitepress/theme/custom.css */
:root {
	--vp-c-brand-1: #646cff;
	--vp-c-brand-2: #747bff;

	--vp-code-color: #f97583;
}
.tagline {
	font-family: "Noto Serif SC", var(--vp-font-family-base);
	font-weight: 700;
	font-style: bold;
}

strong {
  font-weight: 700;
  box-shadow: 0 1px 0 0 var(--vp-c-brand-1);
}
strong::after {
  content: " ";
}
strong::before {
  content: " ";
}